<div class="container-fluid text-center">
<h1><%= @client.identifier.capitalize %> Statistics</h1>

<div class="" id="statistics">
  <div class="row btn-group btn-block" style=" display: block; width: 100%">
    <div class="btn btn-default btn-md col-lg-3">
      <h3><%= @client.payload_requests.average_response_time %></h3>
      <small>Average Response Time</small>
    </div>
    <div class="btn btn-default btn-md col-lg-3">
      <h3><%= @client.payload_requests.max_response_time %></h3>
      <small>Maximum Response Time</small>
    </div>
    <div class="btn btn-default btn-md col-lg-3">
      <h3><%= @client.payload_requests.min_response_time %></h3>
      <small>Minimum Response Time</small>
    </div>
    <div class="btn btn-default btn-md col-lg-3">
      <h3><%= @client.most_frequent_request_type %></h3>
      <small>Most Frequent Request Type</small>
    </div>
  </div>
  <div class="row btn-group btn-block" style=" display: block; width: 100%">
  <div class="btn btn-default btn-md col-lg-3" style="width: 25%">
      <% @client.all_http_verbs.each do |rt| %>
      <h3><%= "#{rt}" %></h3>
      <% end %>
      <small>All HTTP Verbs</small>
    </div>
    <div class="btn btn-default btn-md col-lg-6" style="width: 40%">
      <% @client.most_requested_urls.each do |url| %>
        <%= erb :'/shared/_requests_by_url', :locals => {:url => url} %>
      <% end %>
      <small>All URLs By Rank</small>
    </div>
    <div class="btn btn-default btn-md col-lg-3" style="width: 25%">
      <h3><%= @client.browsers %></h3>
      <small>Web Browser Breakdown</small>
    </div>
    </div>
    <div class="row btn-group btn-block" style=" display: block; width: 100%">
    <div class="btn btn-default btn-md col-lg-6">
      <h3><%= @client.operating_systems %></h3>
      <small>Operating System Breakdown</small>
    </div>
    <div class="btn btn-default btn-md col-lg-6">
      <h3><%= @client.dimensions %></h3>
      <small>Screen Resolution Breakdown</small>
    </div>
</div>
</div>
</div>
