<h1>Statistics for <%= @url %></h1>

<div id="statistics">

    <h3>Average Response Time</h3>
      <p><%= @url.payload_requests.average_response_time %></p>
    <h3>Maximum Response Time</h3>
      <p><%= @url.payload_requests.max_response_time %></p>
    <h3>Minimum Response Time</h3>
      <p><%= @url.payload_requests.min_response_time %></p>
    <h3>Response times from longest to shortest</h3>
      <p><%= @url.payload_request.ordered_response_times %>
    <h3>All HTTP Verbs</h3>
      <p><%= @url.request_types.http_verbs %></p>
    <h3>Top three referrers</h3>
      <p><%= @url.referrers.top_referrers %></p>
    <h3>Top three user agents</h3>
      <p><%= @url.user_agents.top_user_agents %></p>

</div>
